@import "../../variables";

.container {
  background: $pure-white;
  width: 100%;
}

.body {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  width: 50%;
  padding: 6rem;
  background: $fainted-grey;
}

.right {
  width: 50%;
  box-shadow: 0px 15px 90px 0px #00000008;

}

.imgContainer {
  position: relative;
  width: 173.76px;
  height: 36px;
  padding: 4rem 8rem;
}

.heroImgWrapper {
  position: relative;
  width: 100%;
  height: 337.75px;
  margin-top: 6rem;
}
