$primary-color: #213F7D;
$text-color: #545F7D;
$pure-white: #FFFFFF;
$fainted-grey: #e5e8ee26;
$thick-blue: #213F7D;
$torquoise-blue: #39CDCC;
$main-font: "Work Sans";
$border-color: #545f7d26;
$border-color-2: #545f7d26;
$bright-red: #E4033B;