@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-work-sans), sans-serif;
  color: $text-color;
  background-color: #fff;
  height: 100vh;
}



a {
  color: inherit;
  text-decoration: none;
}