.skeletonWrapper {
  width: 100%;
}

.skeletonRow {
  display: flex;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #f0f0f0;
}

.skeletonCell {
  flex: 1;
  padding: 0 16px;
}


.skeletonCell:nth-child(1) { flex: 1.2; }  
.skeletonCell:nth-child(2) { flex: 1; }    
.skeletonCell:nth-child(3) { flex: 1.5; }  
.skeletonCell:nth-child(4) { flex: 1.2; }  
.skeletonCell:nth-child(5) { flex: 1.3; }  
.skeletonCell:nth-child(6) { flex: 0.8; }  

.skeleton {
  height: 14px;
  width: 100%;
  border-radius: 6px;

  background: linear-gradient(
    90deg,
    #f0f2f5 25%,
    #e6e9f0 37%,
    #f0f2f5 63%
  );

  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}


@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}