.container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.layoutLeft {
  flex: 2;
}

.layoutRight {
  flex: 8;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 3px 0px 20px 0px #0000000A;

}

.wrapper {
  width: 100%;
}

.logoContainer {
  position: relative;
  width: 115.37px;
  height: 30px;
}
