@use "../variables" as *;

.container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.layoutLeft {
  flex: 2;
}

.layoutRight {
  flex: 8;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-shadow: 3px 0px 20px 0px #0000000a;
}

.wrapper {
  width: 100%;
}

.logoContainer {
  position: relative;
  width: 115.37px;
  height: 30px;
}

.searchBox {
  border: 1px solid $primary-color;
  display: flex;
  justify-content: space-between;
  //   border-radius: 8px;
  opacity: 0.4;
  background: $pure-white;
  width: 60%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-color: transparent;

  input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0rem 0.8rem;
    width: 70%;

    &::placeholder {
      font-family: $main-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $text-color;
    }
  }
}


.searchWrapper {
  background: $torquoise-blue;
  width: 54px;
  height: 41.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    filter: brightness(1.05);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }
}

.searchOverAll {
  display: flex;
  width: 40%;
}
