@use "../variables" as *;

.container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.layoutLeft {
  flex: 2;
  box-shadow: 3px 0px 20px 0px #0000000a;
}

.layoutRight {
  flex: 8;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  box-shadow: 3px 0px 20px 0px #0000000a;
}

.wrapper {
  width: 100%;
}

.logoContainer {
  position: relative;
  width: 115.37px;
  height: 30px;
  margin-top: 1rem;
}

.searchBox {
  border: 1px solid $primary-color;
  display: flex;
  justify-content: space-between;
  //   border-radius: 8px;
  opacity: 0.4;
  background: $pure-white;
  width: 60%;
  height: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-color: transparent;

  input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0rem 0.8rem;
    width: 100%;

    &::placeholder {
      font-family: $main-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $text-color;
    }
  }
}

.searchWrapper {
  background: $torquoise-blue;
  width: 58px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    filter: brightness(1.05);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  }
}

.searchOverAll {
  display: flex;
  width: 40%;
  margin-top: 0.5rem;
}

.navRight {
  display: flex;
  gap: 40px;
}

.docsText {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3%;
  color: $primary-color;
  margin: 1.5rem 0 0 0;
  cursor: pointer;
}

.bellDiv {
  margin-top: 1rem;
}

.arrowDiv {
  margin-top: 1rem;
  cursor: pointer;
}

.userDiv {
  display: flex;
  gap: 8px;
  margin-top: 0.3rem;
}

.userImg {
  position: relative;
  width: 48px;
  height: 48px;
}

.userName {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: $primary-color;
  margin: 1rem 0 0 0;
}
