@use "../../variables" as *;

.usersContainer {
  width: 100%;
  padding: 2rem 3rem;
}

.tableContainer {
  padding: 2rem 0rem;
  
}

.userHeaderText {
  font-family: $main-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: $primary-color;
}

.iconContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cardHeaderText {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: $primary-color;
  margin: 0;
}

.cardsDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-top: 3rem;
}

.cards {
  box-shadow: 3px 5px 20px 0px #0000000a;
  border: 1px solid #213f7d0f;
  border-radius: 4px;
  background: $pure-white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cardsBottom {
  //   padding: 1rem 0rem;
  padding-bottom: 1rem;

  h6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: $primary-color;
    margin: 0;
  }
}
