@use "../../variables" as *;

.tableWrapper {
  padding: 20px;
  border-radius: 6px;
  width: 100%;
  overflow-x: auto;
  background: $pure-white;
  margin-top: 3rem;
  box-shadow: 3px 5px 20px 0px #0000000a;
  min-height: 700px;
}

.calendarWrapper{
  position: absolute;
  left: 5px;
  top: 30px;
  opacity: 1 !important;
  z-index: 300;
  background: $pure-white;
}

.calendarStyles {
  border: 1px solid rgba(33, 63, 125, 0.5);
  background: $pure-white;
  border-radius: 8px;
  padding: 0.7rem;
  // opacity: 0.5;
  position: relative;
  display: flex;
  justify-content: space-between;

  p{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $text-color;
    margin: 0;
    opacity: 0.5;

  }

  div{
    cursor: pointer;

    svg{
      opacity: 0.5;
    }
  }
}

.optionCol {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $text-color;
  }
}

.inputStyles {
  border: 1px solid $primary-color;
  background: $pure-white;
  outline: none;
  border-radius: 8px;
  padding: 0.7rem;
  opacity: 0.5;
  font-family: $main-font;

  &::placeholder {
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $text-color;
  }
}

.tableHeader {
  display: flex;
  gap: 20px;
  width: 100%;
}

.bottomBtn{
  display: flex;
  justify-content: space-between;
}

.thContent {
  display: flex;
  align-items: center;
  gap: 6px;
}

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    text-align: left;
    font-size: 12px;
    color: #545f7d;
  }

  th {
    padding: 12px 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    // text-transform: uppercase;
    color: $text-color;
    position: relative;
  }

  .filterDropdown {
    position: absolute;
    top: 45px;
    left: 0;
    width: 270px;
    background: $pure-white;
    border: 1px solid $border-color-2;
    border-radius: 6px;
    box-shadow: 3px 5px 20px 0px #0000000a;
    z-index: 100;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  td {
    padding: 25px 10px;
    font-size: 14px;
    border-top: 1px solid #eee;
  }

  tbody tr:hover {
    background: #f9fafb;
  }
}

.status {
  padding: 6px 12px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
}

.Inactive {
  background: #e9ecef;
  color: #545f7d;
}

.Pending {
  background: #fef7e0;
  color: #e9b200;
}

.Active {
  background: #e6f7ef;
  color: #39cd62;
}

.Blacklisted {
  background: #fde6eb;
  color: #e4033b;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 6px 12px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
