@use "../../variables" as *;

.detailsContainer {
  padding: 2rem 3rem 0rem 3rem;
}

.bottomTabContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

// .tabItems {
//   cursor: pointer;
//   p {
//     font-family: "Inter";
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 100%;
//     letter-spacing: 0%;
//     text-align: center;
//     color: #000000CC;
//     margin: 0;
//     padding-bottom: 0.5rem;
//   }
// }

.tabItems {
  cursor: pointer;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #000000cc;
    margin: 0;
    padding-bottom: 0.5rem;
  }
}

.activeTab {
  border-bottom: 2px solid $torquoise-blue;

  p {
    color: $torquoise-blue;
    font-weight: 400;
    font-family: "Inter";
  }
}

.topArrowDiv {
  display: flex;
  gap: 20px;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 8px 0 0 0;
  }
}

.nameFlex {
  display: flex;
  gap: 20px;
  padding-right: 3rem;
  border-right: 1px solid #545f7d33;
}

.tierContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 3rem;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
  }
}

.numeralContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 1px solid #545f7d33;
  padding-left: 1.5rem;

  h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    color: $primary-color;
    margin: 1rem 0 0 0;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: $primary-color;
    margin: 0;
  }
}

.starFlex {
  display: flex;
  gap: 10px;
}

.nameCol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
  h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    color: $primary-color;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
  }
}

.topFlex {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
}

.userHeader {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 13px 0 0 0;
  color: $thick-blue;
}

.blackListBtn {
  border: 1px solid $bright-red;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
  color: $bright-red;
  background: transparent;
  padding: 1rem 3rem;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.activateBtn {
  @extend .blackListBtn;
  border: 1px solid $torquoise-blue;
  color: $torquoise-blue;
}

.topRight {
  display: flex;
  gap: 20px;
}

.generalInfoDiv {
  border: 1px solid #213f7d0f;
  box-shadow: 3px 5px 20px 0px #0000000a;
  background: $pure-white;
  border-radius: 4px;
  padding: 2rem 3rem 0rem 3rem;
  margin-top: 1rem;
}

.infoWrapper {
  display: flex;
  gap: 40px;
}

.iconContainer {
  background: #213f7d29;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
